
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.blue_background{
    background-image: url('/images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    position: relative;
    padding-top: 24px;

}
  
/* nav styles */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-inline: 20px;
}
.nav__link{
    position: absolute;
    width: 88%;
    top: 7rem;
    left: 22px;
    background-color: white;
    z-index: 100;
    height: 316px;
    line-height: 2;
    padding-top: 29px;

}
.nav__link a{
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px 0;
    text-decoration: none;
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces';
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: capitalize;
    width: -moz-fit-content;
    width: fit-content;
}
.nav__link a:hover{
    background-color:yellow;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    padding: 5px 10px;
    font-size: 1rem;

}
.nav__link .active{
    background-color:yellow;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;

}
.triangle_border{  
    position: absolute;
    width: 0;
    left: 74.6%;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 63px solid white;
    top: 14%;
}
.hide {
    display: none;
}

.tag{
    position: absolute;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
 }
 .tag h1{
    font-weight: 900;
    color: white;
    font-size: 3.1rem;
    font-family: 'Fraunces';

}
.tag p {
    padding-top: 44px;
  }

.brand_tag{
    text-align: center;
    padding-bottom: 40px;
 }
 .brand_tag h3{
    font-size: 34px;    
    font-family: 'Fraunces';
    font-weight: 900;
    padding-top: 20px;
}

 .brand_tag p{
    font-size: 19px;
    padding-top: 13px;
    line-height: 1.5;
    padding: 16px;
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(210, 4%, 67%);
} 
.brand_tag a{
    text-decoration-style: solid;
    text-decoration-color: hsl(51, 100%, 49%);
    text-decoration-thickness: 5px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Fraunces';
        
}

.stand_out_paragraph{
    text-align: center;
    margin-block: 29px;
}
.stand_out_paragraph h3{
    font-size: 44px;    
    font-family: 'Fraunces';
    font-weight: 900;
    padding-top: 20px;
}
.stand_out_paragraph p{
    font-size: 19px;
    padding-top: 13px;
    line-height: 1.5;
    padding: 16px;
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(210, 4%, 67%);

}
.stand_out_paragraph a{
    text-decoration-style: solid;
    text-decoration-color: hsl(7, 99%, 70%);
    text-decoration-thickness: 5px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Fraunces';
}
.design{
    background-image: url(/images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 591px;
    width: 100%;
    padding-top: 362px;
    text-align: center;
}
.design h3{
    font-size: 29px;
    font-family: 'Fraunces';
    font-weight: 900;
    color: hsl(167, 40%, 24%);
}
.design p{
    font-size: 19px;
    padding-top: 13px;
    line-height: 1.5;
    padding: 16px;
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(167, 40%, 24%);
}
.photography{
    background-image: url(/images/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 591px;
    width: 100%;
    padding-top: 366px;
}
.photography h3{
    font-size: 29px;
    font-family: 'Fraunces';
    font-weight: 900;
    color: hsl(198, 62%, 26%);
}
.photography p{
    font-size: 19px;
    padding-top: 13px;
    line-height: 1.5;
    padding: 16px;
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(198, 62%, 26%);
}
.client_testimonials{
    text-align: center;
    padding-top: 60px;
}
.client_testimonials h3{
    font-size: 22px;
    font-family: 'Fraunces';
    font-weight: 900;
    text-transform: uppercase;
    color: hsl(232, 10%, 55%);
    padding-bottom: 6px;
    letter-spacing: .2rem;
}
.testimonials h5{
    font-size: 18px;
    font-family: 'Fraunces';
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    padding-bottom: 6px;
    /* letter-spacing: .2rem; */
}
.role{
    font-size: 16px;
    font-family: 'Barlow';
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    padding-bottom: 6px;
    
}
.client_photo{
    border-radius: 50%;
    margin-top: 40px;
    width: 48px;
}
.testimonial_para{
    font-size: 19px;
    padding-top: 13px;
    line-height: 1.5;
    padding: 16px;
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(232, 10%, 55%);
}
.images_inlined{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 40px;
}

.images_inlined img{
    width: 100%;
}


footer{
    margin: 0;
    padding: 12px;
    padding-top: 20px;
    text-align: center;
    background-color: hsl(168, 34%, 41%);
    width: 100%;
    
}
.footer_logo{
    color: hsl(167, 40%, 24%);
    margin: 20px;

}
.footer_menu{
    overflow: hidden;
}
.footer_menu span{
    margin-inline: 5px;
    font-size: 19px;
    padding-top: 13px;
    line-height: 1.5;
    padding: 16px;
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(167, 40%, 24%);
    
}
.footer_icons{
    padding-block: 30px;
    text-align: center;

}
.footer_icons span{
    padding-inline: 20px;
}



/* media query */
@media only screen and (min-width: 1000px) {
    .blue_background{
        background-image: url('/images/desktop/image-header.jpg');
        height: 700px;

        /* background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        width: 100%;
        position: relative;
        padding-top: 24px; */

    
    }

    .nav{
        padding-top: 0px;
        margin-inline: 20px;
    }
    
   .nav__link{
    display: block;
    position: static;
    width: auto;
    height: auto;
    background: none;

   }
   .nav__link a{
       display: inline-block;
       color: white;
       text-transform: capitalize;
       margin-inline: 20px;
       text-decoration: none;
       padding: 0;
       font-family: 'Fraunces';
       font-weight: 600;
       font-size: 18px;
       text-align: center;



   }
   .nav__link a:hover {
        background-color:transparent;
        padding: 5px 10px;
        font-weight: 700;
        color: black;
        font-size: 14px;
        text-align: center;
        border-radius: 20px;
        text-transform: uppercase;
  }
  .nav__link .active{
    background-color:white;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;

}
   .hamburger,.triangle_border{
       display: none;
   }

    .tag{
        position: relative;
        margin-top: 48px;
        text-align: center;
        text-transform: uppercase;
    }
    .tag h1{
        padding-top: 56px;
        margin: 0 auto;
    }
    .arrow_down{
        padding-top: 40px;
        margin: 0 auto;    
    }
    .brand{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        position: relative;
    }
    .egg_image{
        width: 100%;
        overflow: hidden;
        
    }
    .brand_tag{
        display: grid;
        place-items: center;
        text-align: start;
        width: 100%;
        
    }
    .brand_tag h3{
        font-size: 47px;
        /* font-family: 'Fraunces'; */
        /* font-weight: 900; */
        /* padding-top: 20px; */
    }
    .brand_content{
        font-size: 18px;
        width: 80%;
    }
   
    .brand_tag a {  
        font-size: 20px;  
    }
    .stand_out{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        margin-bottom: -4px;    
    }
    .stand_out_image{
        width: 100%;

    }
    .stand_out_paragraph{
        display: grid;
        place-items: center;
        text-align: start;
        width: 100%;
    }
   
    .stand_out_content{
        font-size: 18px;
        width: 80%;
    }
 
    .design_photography{
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }
    .design{
        width: 100%;
    }
    .photography{
        width: 100%;
    }
    .testimonials{
        display: flex;
        justify-content: space-evenly;
        padding-inline: 50px;
    }
    .testimonial_para{
        font-size: 18px;
    }
   .real_egg_img{
       height: 100%;
   }
   .design {
    background-image: url(/images/desktop/image-graphic-design.jpg);
  }
  .photography {
    background-image: url(/images/desktop/image-photography.jpg);
    
  }
  .images_inlined{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    margin-bottom: -4px;
}

}

  











